@using Microsoft.AspNet.Identity

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Bolmens Camping", "Index", "Home"@*, new { area = "" }, new { @class = "navbar-brand" }*@)</li>
    <li>
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>
    <li>
        @Ajax.ActionLink("Space For Tents","SpaceForTent", new AjaxOptions
{
   UpdateTargetId = "ContentBody",
   InsertionMode = InsertionMode.Replace
})
        @*Html.RenderAction("ShowVacantFullSign");*@
    </li>
    <li>
        @Ajax.ActionLink("Space For caravan/trailer", "SpaceForCaravan", new AjaxOptions
    {
    UpdateTargetId = "ContentBody",
    InsertionMode = InsertionMode.Replace
    })
    </li>
    @if (User.IsInRole("Receptionist"))
        {
        <li>
            @Ajax.ActionLink("Checking in", "CheckIn", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
        <li>
            @Ajax.ActionLink("Checking out", "CheckOut", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
        <li>
            @Ajax.ActionLink("Daily Arrivals/Departures", "ArrivalsDepartures", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
        }
    @if (User.IsInRole("Administrators"))
    {

        <li>
            @Ajax.ActionLink("Checking in", "CheckIn", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
        <li>
            @Ajax.ActionLink("Checking out", "CheckOut", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
        <li>
            @Ajax.ActionLink("Daily Arrivals/Departures", "ArrivalsDepartures", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
        <li>
            @Ajax.ActionLink("Modify a Booking", "ModifyBooking", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
        <li>
            @Ajax.ActionLink("Modify a Guests Details", "ModifyGuestDetails", new AjaxOptions
             {
             UpdateTargetId = "ContentBody",
             InsertionMode = InsertionMode.Replace
             })
        </li>
    }
</ul>
