@model List<Camping2000.Models.BookingGuestViewModel>

@if (Model != null)
{
    <h2>Checking Out.</h2>
    <div>
        @ViewBag.Errormessage
    </div>
    <p>The following guests are eligible to check out:</p>

    <div class="row">
        <div class="col-md-2">
            @Html.Label("Firstname")
        </div>
        <div class="col-md-2">
            @Html.Label("Lastname")
        </div>
        <div class="col-md-1">
            @Html.Label("Booking Id")
        </div>
        <div class="col-md-2">
            @Html.Label("Spot Name")
        </div>
        <div class="col-md-2">
            @Html.Label("Price to Pay")
        </div>
        <div class="col-md-3"></div>
    </div>

    foreach (var booking in Model)
    {
        Html.RenderAction("ShowGuestDepartures", booking);
    }
}
else
{
    <h2>Checking Out.</h2>
    <p>@ViewBag.Errormessage</p>
}