@model Camping2000.Models.GuestBookingViewModel

<div class="row">
    <div class="col-md-2">
        @Model.GuestFirstName @Model.GuestLastName
    </div>
    <div class="col-md-1">
        @Model.BookingId
    </div>
    <div class="col-md-3">
        @Model.BookingStartDate.ToShortDateString() - @Model.BookingEndDate.ToShortDateString()
    </div>
    <div class="col-md-1">
        @Model.NumberOfGuests
    </div>
    <div class="col-md-1">
        @if (Model.BookingNeedsElectricity == true)
        {
            <div>Yes</div>
        }
        else
        {
            <div>No</div>
        }
    </div>
    <div class="col-md-1">
        @Model.BookingPrice
    </div>
    <div class="col-md-1">
        @Model.GuestMobileNumber
    </div>
    <div class="col-md-2">
        @using (Ajax.BeginForm("CheckOutConfirmation", "Home",
          ajaxOptions: new AjaxOptions
          {
              UpdateTargetId = "ContentBody",
              InsertionMode = InsertionMode.Replace,
          }))
        {
            @Html.HiddenFor(b => b.BookingId, Model.BookingId)
            <input type="submit" value="Checkout Guest" />
        }
    </div>
</div>

