@model Camping2000.Models.GuestBookingViewModel

<div class="row">
    <div class="col-md-2">
        @Model.GuestFirstName @Model.GuestLastName
    </div>
    <div class="col-md-1">
        @Model.BookingId
    </div>
    <div class="col-md-3">
        @Model.BookingStartDate.ToShortDateString() - @Model.BookingEndDate.ToShortDateString()
    </div>
    <div class="col-md-1">
        @Model.NumberOfGuests
    </div>
    <div class="col-md-2">
        @Model.GuestPhoneNumber / @Model.GuestMobileNumber
    </div>
    <div class="col-md-2">
        @using (Ajax.BeginForm("CancelReservation", "Home",
          ajaxOptions: new AjaxOptions
          {
              UpdateTargetId = "ContentBody",
              InsertionMode = InsertionMode.Replace,
          }))
        {
        @Html.AntiForgeryToken()
            @Html.HiddenFor(g => g.GuestId, Model.GuestId)
            @Html.HiddenFor(b => b.BookingId, Model.BookingId)
            @Html.HiddenFor(c => c.ItemId, Model.ItemId)
            <input type="submit" value="Delete Reservation" />
        }
    </div>
    <div class="col-md-1">

    </div>
</div>
