@model List<Camping2000.Models.BookingGuestViewModel >

<h2>Arrivals @DateTime.Now.Day - @DateTime.Now.Month - @DateTime.Now.Year</h2>

@foreach (var guestBooking in Model)
    {
    @*Html.Partial("_ShowGuestarrivals","ShowGuestArrivals")*@
    Html.RenderAction("ShowGuestArrivals",guestBooking);

    }

@for (int i = 0; i < 4; i++)
{
}

<h2>Departures @DateTime.Now.Day - @DateTime.Now.Month - @DateTime.Now.Year</h2>

@for (int i = 0; i <6; i++)
{
    Html.RenderAction("ShowGuestDepartures");
}

@*Html.Partial("_ShowGuestDepartures", "ShowGuestDepartures")

@Html.Partial()*@