@model List<Camping2000.Models.ModifyBookingViewModel>

<h2>Arrivals @DateTime.Now.Day - @DateTime.Now.Month - @DateTime.Now.Year</h2>

@foreach (var guestBooking in Model)
{
    if ((guestBooking.BookingStartDate == DateTime.Now.Date) && (guestBooking.GuestHasCheckedIn == false))
    {
        Html.RenderAction("ShowGuestArrivals", guestBooking);
    }
}

<h2>Departures @DateTime.Now.Day - @DateTime.Now.Month - @DateTime.Now.Year</h2>
@foreach (var guestBooking in Model)
{
    if ((guestBooking.BookingEndDate == DateTime.Now.Date) && (guestBooking.GuestHasCheckedIn == true))
    {
        Html.RenderAction("ShowGuestDepartures", guestBooking);
    }
}

