@model Camping2000.Models.ModifyBookingViewModel

<h2>Success!!</h2>

@ViewBag.Message
@ViewBag.Errormessage
<div>
    <p>The guests booking have changed. See belov for details.</p>
</div>
<div class="row">
    <div class="col-md-1">
        @Html.Label("BookingId")
    </div>
    <div class="col-md-2">
        @Html.Label("Start Date")
    </div>
    <div class="col-md-2">
        @Html.Label("End Date")
    </div>
    <div class="col-md-2">
        @Html.Label("Party size")
    </div>
    <div class="col-md-2">
        @Html.Label("Price")
    </div>
    <div class="col-md-3">

    </div>
</div>

   
<div class="row">
    <div class="col-md-1">
        @Model.BookingId
    </div>
    <div class="col-md-2">
        @Model.BookingStartDate.ToShortDateString()
    </div>
    <div class="col-md-2">
        @Model.BookingEndDate.ToShortDateString()
    </div>
    <div class="col-md-2">
        @Model.NumberOfGuests
    </div>
    <div class="col-md-2">
        @Model.BookingPrice
    </div>
    <div class="col-md-3">

    </div>
</div>
   <hr />
<div class="row">
    <div class="col-md-2">
        @using (Ajax.BeginForm("GoToStart", "Home",
                   ajaxOptions: new AjaxOptions
                   {
                       UpdateTargetId = "ContentBody",
                       InsertionMode = InsertionMode.Replace,
                   }))
        {

            <input type="submit" value="Done" />
        }
    </div>
    <div class="col-md-2">
        @using (Ajax.BeginForm("ModifyBooking", "Home",
                   ajaxOptions: new AjaxOptions
                   {
                       UpdateTargetId = "ContentBody",
                       InsertionMode = InsertionMode.Replace,
                   }))
        {
            <input type="submit" value="Return to Bookings" />
        }
    </div>
    <div class="col-md-8"></div>
</div>
