@model List<Camping2000.Models.BookingGuestViewModel>

<h2>Checking In.</h2>

<p>The following guests are eligible to check in:</p>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Firstname")
    </div>
    <div class="col-md-2">
        @Html.Label("Lastname")
    </div>
    <div class="col-md-1">
        @Html.Label("BookingId")
    </div>
    <div class="col-md-1">
        @Html.Label("PartySize")
    </div>
    <div class="col-md-2">
        @Html.Label("PartySize at Checkin")
    </div>
    <div class="col-md-4">

    </div>
</div>
<div>
    @ViewBag.Errormessage
</div>
@foreach (var reservation in Model)
{
    Html.RenderAction("ShowGuestArrivals", reservation);
}