@model List<Camping2000.Models.BookingGuestViewModel>

<h2>Checking Out.</h2>

<p>The following guests are eligible to check out:</p>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Firstname")
    </div>
    <div class="col-md-2">
        @Html.Label("Lastname")
    </div>
    <div class="col-md-1">
        @Html.Label("Booking Id")
    </div>
    <div class="col-md-2">
        @Html.Label("Spot Name")
    </div>
    <div class="col-md-5">

    </div>
</div>
<div>
    @ViewBag.Errormessage
</div>
@foreach (var booking in Model)
{
    Html.RenderAction("ShowGuestDepartures", booking);
}