@model Camping2000.Models.Booking
@using Microsoft.AspNet.Identity


@using (Ajax.BeginForm("ConfirmSpaceForTent", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace,
            }))
{


    <h2>Please confirm your reservation.</h2>
    <hr />
    <div class="form-group">
        <p>You arrive on:@Model.BookingStartDate</p>
    </div>
    <div class="form-group">
        <p>You depart on:@Model.BookingEndDate</p>
    </div>
    <div class="form-group">
        <p>You are @Model.NumberOfGuests people.</p>
    </div>
    <div class="form-group">
        @if (Model.BookingNeedsElectricity == true)
        {
            <p>You will have an electric outlet available.</p>
        }
        else
        {
            <p>You will not have an electric outlet available.</p>
        }
    </div>

    <p>Your estimated price is: @Model.BookingPrice kr.</p>
    @if (Request.IsAuthenticated)
    {
        @Ajax.ActionLink("Make Adjustments", "SpaceForTent", "Home",
                     ajaxOptions: new AjaxOptions
                     {
                         UpdateTargetId = "ContentBody",
                         InsertionMode = InsertionMode.Replace
                     })
        <div class="form-group">
            @Model.GuestId=User.Identity.GetUserId()
        </div>
        <div class="form-group">
            <input type="submit" value="Accept reservation" class="btn btn-default" />
        </div>
        @*Ajax.ActionLink("Accept reservation", "ConfirmSpaceForTent", "Home", new { GuestId = User.Identity.GetUserId() },
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace
            })*@
    }
    else
    {
        <div>You need to login before you can reserve the spot.</div>
        <div>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </div>
        <div>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    }
}
@*<div class="form-group">
        <input type="submit" value="Confirm Reservation" class="btn btn-default" />
    </div>
    <div class="form-group">
        <input type="submit" value="Cancel Reservation" class="btn btn-default" />
    </div>*@