@using Microsoft.AspNet.Identity
@model Camping2000.Models.Booking

<h2>Please confirm your reservation with booking id: @Model.BookingId.</h2>
<hr />
@ViewBag.Errormessage
<div>
    <p>You arrive on:@Model.BookingStartDate)</p>

    <p>You depart on:@Model.BookingEndDate</p>

    <p>You are @Model.NumberOfGuests people.</p>

    @if (Model.BookingNeedsElectricity == true)
    {
        <p>You will have an electric outlet available.</p>
    }
    else
    {
        <p>You will <b>not</b> have an electric outlet available.</p>
    }
</div>
<p>Your estimated price is: @Model.BookingPrice kr.</p>
@if (Request.IsAuthenticated)
{
    Ajax.ActionLink("Make Adjustments", "SpaceForCaravan", "Home",
    ajaxOptions: new AjaxOptions
    {
        UpdateTargetId = "ContentBody",
        InsertionMode = InsertionMode.Replace
    });
    using (Ajax.BeginForm("ConfirmSpaceForCaravan", "Home",
    ajaxOptions: new AjaxOptions
    {
        UpdateTargetId = "ContentBody",
        InsertionMode = InsertionMode.Replace,
    }))
    {
        <div class="form-group">
            @Html.Hidden("GuestId", User.Identity.GetUserId())
        </div>
        <div class="form-group">
            @Html.Hidden("BookingId", Model.BookingId)
        </div>
        <div class="form-group">
            <input type="submit" value="Accept reservation" class="btn btn-default" />
        </div>
    }
}
else
{
    <div>You need to login before you can reserve the spot.</div>
    <div>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
    <div>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
}