@model Camping2000.Models.GuestAdressViewModel

<h2>Modify a Guests Details</h2>

@using (Ajax.BeginForm("UpdatedGuestDetails", "Home",
        ajaxOptions: new AjaxOptions
        {
            UpdateTargetId = "EndOfFoundGuests",
            InsertionMode = InsertionMode.InsertBefore,
        }))
{
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Present FirstName:")
        </div>
        <div class="col-md-3">
            @Model.GuestFirstName
        </div>
        <div class="col-md-3">
            @Html.Label("Change to new Firstname:")
        </div>
        <div class="col-md-3">
            @Html.Editor("GuestFirstName")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Present LastName:")
        </div>
        <div class="col-md-3">
            @Model.GuestLastName
        </div>
        <div class="col-md-3">
            @Html.Label("Change to new Lastname:")
        </div>
        <div class="col-md-3">
            @Html.Editor("GuestLastName")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Present Nationality:")
        </div>
        <div class="col-md-3">
            @Model.GuestNationality
        </div>
        <div class="col-md-3">
            @Html.Label("Change to new Nationality:")
        </div>
        <div class="col-md-3">
            @Html.Editor("GuestNationality")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Phone number:")
        </div>
        <div class="col-md-3">
            @Model.GuestPhoneNumber
        </div>
        <div class="col-md-3">
            @Html.Label("Change to:")
        </div>
        <div class="col-md-3">
            @Html.Editor("GuestPhoneNumber")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("Mobilephone number:")
        </div>
        <div class="col-md-3">
            @Model.GuestMobileNumber
        </div>
        <div class="col-md-3">
            @Html.Label("Change to:")
        </div>
        <div class="col-md-3">
            @Html.Editor("GuestMobileNumber")
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.Label("LivingAdressStreet:")
        </div>
        <div class="col-md-3">
            @Model.LivingAdressStreet1
        </div>
        <div class="col-md-3">
            @Html.Label("Change LivingAdressStreet:")
        </div>
        <div class="col-md-3">
            @Html.Editor("LivingAdressStreet1")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("LivingAdressStreet:")
        </div>
        <div class="col-md-3">
            @Model.LivingAdressStreet2
        </div>
        <div class="col-md-3">
            @Html.Label("Change LivingAdressStreet:")
        </div>
        <div class="col-md-3">
            @Html.Editor("LivingAdressStreet2")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("LivingAdressStreet:")
        </div>
        <div class="col-md-3">
            @Model.LivingAdressStreet3
        </div>
        <div class="col-md-3">
            @Html.Label("Change LivingAdressStreet:")
        </div>
        <div class="col-md-3">
            @Html.Editor("LivingAdressStreet3")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("LivingAdress ZipCode:")
        </div>
        <div class="col-md-3">
            @Model.LivingAdressZipCode
        </div>
        <div class="col-md-3">
            @Html.Label("Change LivingAdress ZipCode:")
        </div>
        <div class="col-md-3">
            @Html.Editor("LivingAdressZipCode")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("LivingAdress City:")
        </div>
        <div class="col-md-3">
            @Model.LivingAdressCity
        </div>
        <div class="col-md-3">
            @Html.Label("Change LivingAdress City:")
        </div>
        <div class="col-md-3">
            @Html.Editor("LivingAdressCity")
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @Html.Label("PostAdressStreet:")
        </div>
        <div class="col-md-3">
            @Model.PostAdressStreet1
        </div>
        <div class="col-md-3">
            @Html.Label("Change PostAdressStreet:")
        </div>
        <div class="col-md-3">
            @Html.Editor("PostAdressStreet1")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("PostAdressStreet:")
        </div>
        <div class="col-md-3">
            @Model.PostAdressStreet2
        </div>
        <div class="col-md-3">
            @Html.Label("Change PostAdressStreet:")
        </div>
        <div class="col-md-3">
            @Html.Editor("PostAdressStreet2")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("PostAdressStreet:")
        </div>
        <div class="col-md-3">
            @Model.PostAdressStreet3
        </div>
        <div class="col-md-3">
            @Html.Label("Change PostAdressStreet:")
        </div>
        <div class="col-md-3">
            @Html.Editor("PostAdressStreet3")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("PostAdress ZipCode:")
        </div>
        <div class="col-md-3">
            @Model.PostAdressZipCode
        </div>
        <div class="col-md-3">
            @Html.Label("Change PostAdress ZipCode:")
        </div>
        <div class="col-md-3">
            @Html.Editor("PostAdressZipCode")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("PostAdress City:")
        </div>
        <div class="col-md-3">
            @Model.PostAdressCity
        </div>
        <div class="col-md-3">
            @Html.Label("Change PostAdress City:")
        </div>
        <div class="col-md-3">
            @Html.Editor("PostAdressCity")
        </div>
    </div>
    <div>
        <input type="submit" value="Accept Changes" />
    </div>
}@*
                 @Ajax.ActionLink("Cancel Changes", "GoToStart", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })
    @Ajax.ActionLink("Accept Changes", "UpdatedGuestDetails", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })*@