@model List<Camping2000.Models.GuestBookingViewModel>

<h2>Guests that have made a reservation but not checked in.</h2>
<hr />
<div class="row">
    <div class="col-md-2">
        @Html.Label("Name")
    </div>
    <div class="col-md-1">
        @Html.Label("BookinId")
    </div>
    <div class="col-md-3">
        @Html.Label("Arrivaldate - Departuredate")
    </div>
    <div class="col-md-1">
        @Html.Label("Partysize")
    </div>
    <div class="col-md-2">
        @Html.Label("Home / Mobile Number")
    </div>
    <div class="col-md-2">
       
    </div>
    <div class="col-md-1">

    </div>
</div>
@if (Model != null)
{
    foreach (var booking in Model)
    {
        Html.RenderPartial("_AMissedCheckin", booking);
    }
}
else
{
    if (ViewBag.Errormessage=="")
    {
    <p>All expected guests have arrived. </p>
    }
    else
    {
        <p>@ViewBag.Errormessage</p>
    }
}
<div class="row">
    <div class="col-md-2">
        @using (Ajax.BeginForm("ModifyBooking", "Home",
                  ajaxOptions: new AjaxOptions
                  {
                      UpdateTargetId = "ContentBody",
                      InsertionMode = InsertionMode.Replace,
                  }))
        {

            <input type="submit" value="Return to Bookings" />
        }
    </div>
</div>