@model Camping2000.Models.ModifyBookingViewModel

<h2>@Model.GuestFirstName @Model.GuestLastName booking details for bookingId:@Model.BookingId:</h2>
<hr />
@ViewBag.Errormessage
@ViewBag.ElectricMessage
@using (Ajax.BeginForm("UpdatedBooking", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace,
            }))
{
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Arrival date:")
        </div>
        <div class="col-md-2">
            @Model.BookingStartDate.ToShortDateString()
        </div>
        <div class="col-md-2">
            @Html.Label("Change to:")
        </div>
        @if ((Model.BookingStartDate < DateTime.Now.Date) || (Model.GuestHasCheckedIn == true))
        {
            <div class="col-md-6">
                @Model.BookingStartDate.ToShortDateString() - Not adjustable
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="col-md-6">
                    <input type="date" id="BookingStartDate" name="BookingStartDate" value="@string.Format("{0:yyyy-MM-dd}", Model.BookingStartDate)" min="@string.Format("{0:yyyy-MM-dd}", Model.BookingStartDate)" />
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Departure date:")
        </div>
        <div class="col-md-2">
            @Model.BookingEndDate.ToShortDateString()
        </div>
        <div class="col-md-2">
            @Html.Label("Change to:")
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="date" id="BookingEndDate" name="BookingEndDate" value="@string.Format("{0:yyyy-MM-dd}", Model.BookingEndDate)" min="@string.Format("{0:yyyy-MM-dd}", Model.BookingEndDate)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Power outlet:")
        </div>
        <div class="col-md-2">
            @if (Model.BookingNeedsElectricity == true)
            {
                <div>Yes</div>
            }
            else
            {
                <div>No</div>
            }
        </div>
        <div class="col-md-2">
            @Html.Label("Change to:")
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select name="ChangeBookingNeedsElectricity">
                    @if (Model.BookingNeedsElectricity == true)
                    {
                        <option value="true">Power output</option>
                        <option value="false">No Power output</option>
                    }
                    else
                    {
                        <option value="false">No Power output</option>
                        <option value="true">Power output</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Partysize:")
        </div>
        <div class="col-md-2">
            @Model.NumberOfGuests
        </div>
        <div class="col-md-2">
            @Html.Label("New partysize:")
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="number" id="NumberOfGuests" name="NumberOfGuests" min="1" max="10" value="@Model.NumberOfGuests" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Camping spot:")
        </div>
        <div class="col-md-2">
            @Model.ItemName
        </div>
        <div class="col-md-2">
            @Html.Label("Change to:")
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-group" name="NewSpot">
                    @foreach (var spot in Model.VacantSpots)
                    {
                        <option value="@spot.ItemId">@spot.ItemName</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.Label("Present Cost:")
        </div>
        <div class="col-md-2">
            @Model.BookingPrice
        </div>
        <div class="col-md-2">
            @Html.Label("Future Cost:")
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="submit" value="Accept Changes" />
            </div>
        </div>
        <div class="col-md-2">

            <div class="col-md-6">

            </div>

        </div>
        <div class="form-group">
            @Html.Hidden("BookingId", Model.BookingId)
            @Html.Hidden("GuestId", Model.GuestId)
            @Html.Hidden("ItemId", Model.ItemId)
        </div>

    </div>
}
@*<input type="submit" onclick="@(Ajax.ActionLink("Cancel Changes", "GoToStart", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace }))"/>*@
<input type="submit" value="Delete Reservation" />
<input type="submit" value="Cancel Changes" />
@*Ajax.ActionLink("Cancel Changes", "GoToStart", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })
    @Ajax.ActionLink("Accept Changes", "UpdatedBooking", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })*@


