@model Camping2000.Models.BookingGuestViewModel

@using (Ajax.BeginForm("ModifySpecificBooking", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace,
            }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-2">
            @Model.GuestFirstName
        </div>
        <div class="col-md-2">
            @Model.GuestLastName
        </div>
        <div class="col-md-2">
            @Model.BookingId
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Modify Booking" />
            </div>
            <div class="form-group">
                @Html.HiddenFor(g => g.GuestId, Model.GuestId)
                @Html.HiddenFor(b => b.BookingId, Model.BookingId)
                @Html.HiddenFor(c => c.ItemId, Model.ItemId)
            </div>
           
        </div>
    </div>
}