@model List<Camping2000.Models.ApplicationUser>


@if (Model.Count >= 1)
{
    foreach (var guest in Model)
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-2">
                @Html.Label("First Name")
            </div>
            <div class="col-md-2">
                @guest.GuestFirstName
            </div>
            <div class="col-md-2">
                @Html.Label("Last Name")
            </div>
            <div class="col-md-2">
                @guest.GuestLastName
            </div>
            <div class="col-md-1">
                @using (Ajax.BeginForm("ModifyCoworkerToReceptionist", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace,
            }))
                {
                    <div>
                        @Html.Hidden("GuestId", guest.GuestId)
                        @*Html.HiddenFor(g => g.GuestId, guest.GuestId)*@
                    </div>
                    <input type="submit" value="Assign Rights" />
                }
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                @using (Ajax.BeginForm("ModifyCoWorkerToGuest", "Home", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "ContentBody"
                }))
                {
                    <div>
                        @Html.Hidden("GuestId", guest.GuestId)
                        @*Html.HiddenFor(g => g.GuestId, guest.GuestId)*@
                    </div>
                    <input type="submit" value="Remove Rights" />
                }
            </div>
            <div class="col-md-1"></div>
        </div>
    }
}
else
{
    <div>
        @ViewBag.Errormessage
    </div>
}
