@model Camping2000.Models.Booking

<h2>Renting space for a caravan/trailer.</h2>
@ViewBag.Errormessage
@using (Ajax.BeginForm("RentSpaceForCaravan", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace,
            }))
{
    <div class="form-group">
        @*Html.LabelFor *@
        <div class="row">
            <div class="col-md-2">
                @Html.Label("Arrival date: ")
            </div>
            <div class="col-md-3">
                <input type="date" id="BookingStartDate" name="BookingStartDate" value="@string.Format("{0:yyyy-MM-dd}", Model.BookingStartDate)" min="@string.Format("{0:yyyy-MM-dd}", Model.BookingStartDate)" />
            </div>
            <div class="col-md-7">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.Label("Departure date: ")
            </div>
            <div class="col-md-3">
                <input type="date" id="BookingEndDate" name="BookingEndDate" value="@string.Format("{0:yyyy-MM-dd}", Model.BookingEndDate)" min="@string.Format("{0:yyyy-MM-dd}", Model.BookingEndDate)" />
            </div>
            <div class="col-md-7">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.Label("Number of guests: ")
            </div>
            <div class="col-md-3">
                <input type="number" name="NumberOfGuests" min="1" max="10">
            </div>
            <div class="col-md-7">

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.Label("Do you need electricity: ")
            </div>
            <div class="col-md-3">
                @*Html.RadioButton("Yes", "yes")

                    @Html.RadioButton("No", "no")*@
                <input type="radio" name="BookingNeedsElectricity" value="true" required>Yes
                <input type="radio" name="BookingNeedsElectricity" value="false" checked required> No
            </div>
            <div class="col-md-7">

            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Price per night per person: ")
            </div>
            <div class="col-md-3">
                @Model.BookingPrice
            </div>
            <div class="col-md-2">
                @Html.Label("Estimated price: ")
            </div>
            <div class="col-md-3">
                @* The modelFieldname is: BookingPrice *@
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Reserve" class="btn btn-default" />
    </div>
}