


<h2>Renting space for a caravan/trailer.</h2>

@using (Ajax.BeginForm("RentSpaceForCaravan", "Home",
            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "ContentBody",
                InsertionMode = InsertionMode.Replace,
            }))
{
    <div class="form-group">
        @*Html.LabelFor *@
        @Html.Label("Arrival date: ")@Html.Editor("BookingStartDate")

    </div>
    <div class="form-group">
        @*Html.LabelFor *@
        @Html.Label("Departure date: ")@Html.Editor("BookingEndDate")

    </div>
    <div class="form-group">
        @Html.Label("Number of guests: ") @Html.Editor("NumberOfGuests")
    </div>
    <div class="form-group">
        @Html.Label("Do you need electricity: ")@Html.RadioButton("ElectricityYes", "yes") @Html.RadioButton("ElectricityNo", "no")

    </div>
    <div class="form-group">
        @Html.Label("Estimated price: ")
    </div>
    <div class="form-group">
        <input type="submit" value="Reserve" class="btn btn-default" />
    </div>
}

