@model Camping2000.Models.ModifyBookingViewModel
<h2>Booking Details.</h2>

<p>@Model.GuestFirstName @Model.GuestLastName booking with bookingnumber: @Model.BookingId have been modified to the following:</p>
<div>
    <div class="row">
        <div class="col-md-2">
            StartDate:
        </div>
        <div class="col-md-3">
            @Model.BookingStartDate.ToShortDateString()
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            End Date
        </div>
        <div class="col-md-3">
            @Model.BookingEndDate.ToShortDateString()
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            Camping spot:
        </div>
        <div class="col-md-3">
            nr: @Model.ItemName
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            Power Output:
        </div>
        <div class="col-md-3">
            @if (Model.BookingNeedsElectricity == true)
            {
                <div>Yes</div>
            }
            else
            {
                <div>No</div>
            }

        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            Party Size:
        </div>
        <div class="col-md-3">
            @Model.NumberOfGuests
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            New price is:
        </div>
        <div class="col-md-3">
            @Model.BookingPrice
        </div>
    </div>
</div>
@Ajax.ActionLink("Go To Start", "GoToStart", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })

