@model Camping2000.Models.Guest

<h2>Guest details is updated.</h2>


<div class="row">
    <div class="col-md-2">
        @Html.Label("FirstName:")
    </div>
    <div class="col-md-2">
        @Model.GuestFirstName
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LastName:")
    </div>
    <div class="col-md-2">
        @Model.GuestLastName
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Nationality:")
    </div>
    <div class="col-md-2">
        @Model.GuestNationality
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Emailadress:")
    </div>
    <div class="col-md-2">
        Guest@mail.com@*Model.GuestEmailAdress*@
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdressStreet1:")
    </div>
    <div class="col-md-2">
        @*Model.GuestLivingadressStreet1*@
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdressStreet2:")
    </div>
    <div class="col-md-2">
        GuestLivingAdress
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdressStreet3:")
    </div>
    <div class="col-md-2">
        GuestLivingAdress
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdress ZipCode:")
    </div>
    <div class="col-md-2">
        111 11
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdress City:")
    </div>
    <div class="col-md-2">
        GuestLivingAdress City
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdressStreet1:")
    </div>
    <div class="col-md-2">
        GuestPostAdress
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdressStreet2:")
    </div>
    <div class="col-md-2">
        GuestPostAdress
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdressStreet3:")
    </div>
    <div class="col-md-2">
        GuestPostAdress
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdress ZipCode:")
    </div>
    <div class="col-md-2">
        111 11
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdress City:")
    </div>
    <div class="col-md-2">
        GuestPostAdress City
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>
@*

    <div class="row">
    <div class="col-md-2">
        PostAdress City:
    </div>
    <div class="col-md-2">
        GuestPostAdress City
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
    </div>
*@
@Ajax.ActionLink("Done", "GoToStart", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })
@*Ajax.ActionLink("Accept Changes", "UpdatedGuestDetails", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })*@


