@model Camping2000.Models.Booking
<h2>Booking Details.</h2>

<p>GuestFirstname GuestLastnames booking with bookingnumber: @Model.BookingId have been modified to the following:</p>
<div>
    <div class="row">
        <div class="col-md-2">
            StartDate:
        </div>
        <div class="col-md-3">
            @Model.BookingStartDate
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            End Date
        </div>
        <div class="col-md-3">
            @Model.BookingEndDate
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            Camping spot:
        </div>
        <div class="col-md-3">
            nr: @Model.ItemId
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-2">
            New price is:
        </div>
        <div class="col-md-3">
            550kr
        </div>
    </div>
</div>
@Ajax.ActionLink("Go To Start", "GoToStart", ajaxOptions: new AjaxOptions { UpdateTargetId = "ContentBody", InsertionMode = InsertionMode.Replace })

