@model Camping2000.Models.GuestAdressViewModel

<h2>Guest details is updated for @Model.GuestFirstName @Model.GuestLastName.</h2>


<div class="row">
    <div class="col-md-2">
        @Html.Label("FirstName:")
    </div>
    <div class="col-md-2">
        @Model.GuestFirstName
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LastName:")
    </div>
    <div class="col-md-2">
        @Model.GuestLastName
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Nationality:")
    </div>
    <div class="col-md-2">
        @Model.GuestNationality
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("Phone Number")
    </div>
    <div class="col-md-2">
        @Model.GuestPhoneNumber
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.Label("Mobile Number")
    </div>
    <div class="col-md-2">
        @Model.GuestMobileNumber
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdressStreet:")
    </div>
    <div class="col-md-2">
        @Model.LivingAdressStreet1
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdressStreet:")
    </div>
    <div class="col-md-2">
        @Model.LivingAdressStreet2
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdressStreet:")
    </div>
    <div class="col-md-2">
        @Model.LivingAdressStreet3
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdress ZipCode:")
    </div>
    <div class="col-md-2">
        @Model.LivingAdressZipCode
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("LivingAdress City:")
    </div>
    <div class="col-md-2">
        @Model.LivingAdressCity
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdressStreet:")
    </div>
    <div class="col-md-2">
        @Model.PostAdressStreet1
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdressStreet:")
    </div>
    <div class="col-md-2">
        @Model.PostAdressStreet2
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdressStreet:")
    </div>
    <div class="col-md-2">
        @Model.PostAdressStreet3
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdress ZipCode:")
    </div>
    <div class="col-md-2">
        @Model.PostAdressZipCode
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Label("PostAdress City:")
    </div>
    <div class="col-md-2">
        @Model.PostAdressCity
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
    </div>
</div>
@using (Ajax.BeginForm("GoToStart", "Home", new AjaxOptions
{
    UpdateTargetId = "ContentBody",
    InsertionMode = InsertionMode.Replace,
}))
{
    <div>
    <input type="submit" value="Done" />
    </div>
}