@model Camping2000.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Ajax.BeginForm("Register", "Account",
    ajaxOptions: new AjaxOptions
    {
        UpdateTargetId = "ContentBody",
        InsertionMode = InsertionMode.Replace,
    }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        </div>
        <div class="row">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        </div>
        <div class="row">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
